@page
@model TimeManagementApp.Pages.TimeManagement.EmailConfirmationModel
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Pages/Shared/_BasicLayout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/Styles/TimeManagement/EmailConfirmation.css" type="text/css" />
}
@section Scripts {
    <script src="~/Scripts/TimeManagement/EmailConfirmation.js" type="text/javascript"></script>
}

<section class="hold-transition register-page justify-content-start">
    <div class="register-box">
        <div class="register-logo mt-5">
            <a href="../../index2.html"><b>Portal pracownika</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">

                <div>
                    <p class="Result" style="text-align:center; font-size:32px;">Twoje konto zostało aktywowane</p>
                </div>
                <a asp-page="/TimeManagement/Logowanie" class="text-center">Powrót do logowania</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</section>


