@page
@model TimeManagementApp.Pages.TimeManagement.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Pages/Shared/_BasicLayout.cshtml";
}

<section class="hold-transition register-page justify-content-start">
    <div class="register-box">
        <div class="register-logo mt-5">
            <a href="../../index2.html"><b>Portal pracownika</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Resetuj Hasło</p>

                <form method="post">


                     @*<div class="input-group">
                            <input asp-for="Reset.Email" type="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <span asp-validation-for="Reset.Email" class="text-danger"></span>
                        </div>*@
                    <div class="input-group">
                        <input asp-for="reset.NewPassword" type="password" class="form-control" placeholder="Hasło">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="reset.NewPassword" class="text-danger"></span>
                    </div>

                    <div class="input-group">
                        <input asp-for="reset.ConfirmPassword" type="password" class="form-control" placeholder="Powtórz hasło">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="reset.ConfirmPassword" class="text-danger"></span>
                    </div>
                     @*<input type="hidden" asp-for="userId" class="form-control" />
                        <input type="hidden" asp-for="token" class="form-control" />*@
                    <div class="input-group">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block">Zmień</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                </form>

                <a asp-page="/TimeManagement/Logowanie" class="text-center">Mam już swoje konto</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</section>
